<img *ngIf="!leBackRepond" class="cloud" src="assets/cloud_off-24px.svg" />
<h1 *ngIf="!donneesDuCompteur && !leBackRepond">Le compteur iodé</h1>
<h2 *ngIf="!donneesDuCompteur && !leBackRepond">
  il faut recharger la page pour initialiser les données
</h2>
<h1 *ngIf="!donneesDuCompteur && leBackRepond">Chargement...</h1>
<carousel *ngIf="donneesDuCompteur" interval="5000" [showIndicators]="false">
  <slide>
    <h1 *ngIf="donneesDuCompteur.nbHuitresAjourdhui > 0">
      {{ donneesDuCompteur.nbHuitresAjourdhui | number }} huîtres ouvertes
      aujourd'hui
    </h1>
    <h1 *ngIf="donneesDuCompteur.nbHuitresAjourdhui === 0">Le compteur iodé</h1>
  </slide>
  <slide>
    <h1>Le iodé a {{ ouvertureIode | age }}</h1>
  </slide>
  <slide>
    <h1>
      {{ donneesDuCompteur.nbHuitresDepuisLeDebut | number }} huîtres ouvertes
    </h1>
  </slide>
  <slide>
    <h1>Record</h1>
    <h1>
      {{ donneesDuCompteur.meilleurJour.nbHuitres | number }} huîtres ouvertes
    </h1>
    <h1>en 1 jour</h1>
    <h2>{{ donneesDuCompteur.meilleurJour.jour | date: "fullDate" }}</h2>
  </slide>
  <slide *ngIf="nouveauRecord">
    <h1>🎉 C'est génial!</h1>
    <h1>Aujourd'hui on a battu le record du iodé</h1>
  </slide>
</carousel>
