/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-style: normal;
  font-variant: normal;
}
body {
  background-image: url("assets/beach-waves-loop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 10vw;
  font-weight: bold;
}
.carousel-control {
  visibility: hidden;
}
.cloud {
  position: absolute;
  top: 8px;
  right: 16px;
}
